/* RESET BÁSICO */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  text-align: center;
  box-sizing: border-box;
padding: 2rem 1.5rem 1.5rem 1.5rem;
  min-height: 80vh;

}

/* Oculto en móvil lo que no está en el prototipo de Figma */
.hero h1,
.btn-outline-hero,
.hero img {
  display: none;
}

/* Logo insertado arriba del párrafo en móvil */
.hero p::before {
  content: "";
  display: block;
  width: 180px;
  height: 60px;
  margin: 0 auto 2rem auto;
  background-image: url('../assets/logo.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.hero p {
  margin: 0 auto 2rem auto;
  font-size: 0.8rem;
  margin-bottom: 2rem;
}

.hero-buttons {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
  width: 100%;
  max-width: 20rem;
  margin-bottom: 3rem;
}

.hero-buttons button {
  padding: 0.75rem 1.5rem;
  border-radius: 0.5rem;
  font-weight: bold;
}

#join-btn {
  border: none;
  background: var(--gradient-primary);
  color: #ffffff;
}

.btn-outline-hero {
  background: transparent;
  border: 1.5px solid var(--color-primary-end);
  color: var(--color-primary-end);
}

.hero-buttons button:hover {
  opacity: 0.85;
}

.hero-buttons button:focus-visible {
  outline: 0.1875rem solid var(--color-primary-end);
  outline-offset: 0.125rem;
}


/* --- DESKTOP (PANTALLAS GRANDES) --- */
@media (min-width: 64rem) {
  .hero {
    padding: 2rem 8.25rem;
  }

  /* Desactivo el logo del párrafo para que no aparezca en PC */
  .hero p::before {
    display: none;
  
  }

  /* Vuelvo a mostrar el h1, la imagen y el botón secundario */
  .hero h1,
  .btn-outline-hero,
  .hero img {
    display: block;
  }

  .hero h1 {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 5rem;
  }

  .hero-buttons {
    flex-direction: row;
    justify-content: center;
  }

  .hero img {
    width: 100%;
    max-width: 100%;
    height: auto;
    border-radius: 0.75rem;
    margin-top: 2rem;
  }
}